<footer class="page-footer">
    <div class="container">
        © 2021 Copyright SAIFE
        <a class="grey-text text-lighten-4 right" href="https://twitter.com/SaifeApp" target="_blank"><img
            src="/assets/twitter-logo.png" style="height: 20px; padding-right: 15px;" alt="Twitter Logo"></i>/SaifeApp</a>
        <!-- <a class="grey-text text-lighten-4 right" href="https://github.com/ioarun/saife" target="_blank"><img
                src="/assets/git-logo.svg" style="height: 20px; padding-right: 15px;" alt="Git Logo"></i>/saife</a> -->
    </div>
</footer>
 
    
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>


