<div class="navbar-fixed">
    <nav class="navClass">
        <div class="nav-wrapper row" style="background-color: #5b64e0;">
            <div class="left col s3 m-0" style="max-width: 60px">
                <a href="#" class="brand-logo center hide-on-large-only" style="height: 100%">
                    <img src="/assets/saife-logo-2.png" alt="" style="height: 50px; transform:translateY(-10%);">
                </a>
                <a href="#" class="brand-logo hide-on-med-and-down" style="height: 100%">
                    <img src="/assets/saife-logo-2.png" alt="" style="height: 50px; transform:translateY(-10%);">
                </a>
                <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
            <ul id="nav-mobile" class="left col hide-on-med-and-down">
                <li class="" id="homePage"><a href="/"> Home </a></li>
                <li id="myExperts"><a href="/myExperts"> My Experts </a></li>
                <li id="myMembers"><a href="/users/myMembers"> My Members </a></li>
                <li id="userAccountSettings"><a href="/users/userAccountSettings"> Account Settings</a></li>
                <li id="signOut" class="right"><a href="/users/logout"> Sign Out </a> </li>
            </ul>
            <!-- <ul id="nav-mobile" class="right col">
                <li><a href="https://twitter.com/SAIFE" target="_blank"><img src="assets/twitter-logo.png"
                            alt="Twitter" class="twitter-logo responsive-img"></a>
                </li>
            </ul> -->
        </div>
        <ul class="sidenav" id="mobile">
            <li class="" id="homePage"><a href="/"> Home </a></li>
            <li id="myExperts"><a href="/myExperts"> My Experts </a></li>
            <li id="myMembers"><a href="/myMembers"> My Members </a></li>
            <li id="userAccountSettings"><a href="/users/userAccountSettings"> Account Settings</a></li>
            <li id="signOut" class="right"><a href="/users/logout"> Sign Out </a> </li>
        </ul>
    </nav>
</div>