<html>
  <head>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </head>
  <body class="body-bg">
      <!-- <h1 class="mt-4">Dashboard</h1> -->

  <div class="container login-body-container">
    <p class="welcome">Welcome <%= name %></p>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12">
            <img class="text-center img-fluid d-none d-md-block" src="/assets/dashboard-desktop-transparent.png" style="width: 100%; height: 100%;">
            <img class="d-block mx-auto d-md-none" src="/assets/dashboard-mobile-transparent.png"
                    style="width: 100%; height: 100%; transform: rotate(90deg);">
        </div>
  </div>


  <script>
    
    isPushSupported();

    //To check `push notification` is supported or not
  function isPushSupported() {
    //To check `push notification` permission is denied by user
    if (Notification.permission === 'denied') {
    //   alert('User has blocked push notification.');

    navigator.serviceWorker.register('/worker.js');
        navigator.serviceWorker.ready
            .then(function (registration) {
                console.log('service worker registered');
                subscriptionButton.removeAttribute('disabled');

                return registration.pushManager.getSubscription();
            }).then(function (subscription) {
                if (subscription) {
                    console.log('Already subscribed', subscription.endpoint);
                    setUnsubscribeButton();
                } else {
                    setSubscribeButton();
                }
            });
      Swal.fire(
        'Alert',
        'User has blocked push notification.',
        'warning'
        )
      return;
    }

    //Check `push notification` is supported or not
    if (!('PushManager' in window)) {
    //   alert('Sorry, Push notification isn\'t supported in your browser.');
        Swal.fire(
        'Alert',
        'Sorry, Push notification isn\'t supported in your browser.',
        'warning'
        )
      return;
    }

  }

  </script>
  </body>
</html>


