<html>
  <head>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="body-bg">
      <!-- <h1 class="mt-4">Dashboard</h1> -->

  <div class="container container-center">
    <p class="welcome">Welcome <%= name %></p>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12">
            <img class="text-center img-fluid d-none d-md-block" src="/assets/dashboard-desktop-transparent.png" style="width: 100%; height: 100%;">
            <img class="d-block mx-auto d-md-none" src="/assets/dashboard-mobile-transparent.png"
                    style="width: 100%; height: 100%; transform: rotate(90deg);">
        </div>
    </div>
  <script src="/js/dashborad.js"></script>
  </body>
</html>