<html>
    <head>
    </head>
    <body class="body-bg body-bg-login">
        <div class="container login-body-container">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-md-6">
                    <img class="text-center img-fluid d-none d-md-block" src="/assets/bg3-transparent.png">
                    <img class="d-block mx-auto d-md-none" src="/assets/saife-logo.png" style="height: 64px; width: 64px; border-radius: 5px;">
                </div>
                <div class="col-md-6">
                    <div class="card card-body form-round">
                        <h5 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h4>
                        <%- include('./partials/messages') %>
                            <form action="/users/login" method="POST">
                                <div class="row justify-content-center">
                                    <div class="form-group col-12">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" name="password" class="form-control"
                                            placeholder="Enter Password" />
                                    </div>
                                    <div class="form-group col-5 mt-2">
                                        <div class="d-grid"><button type="submit" class="btn btn-saife">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <p class="lead mt-2">
                                    <!-- No Account? <a href="/users/register">Register</a> -->
                                    No Account? <a class="waves-effect waves-light modal-trigger" href="#registerModal">Register</a>
                                </p>
                            </div>
                            
                    </div>
                </div>
            </div>

            <!-- Register modal -->
            <%- include("register.ejs") %>
            
        </div>
        
        <script>
            // $("nav>div>ul").toggleClass("hide");
            // $("nav>div>div").toggleClass("hide");
            $(".navbar-fixed").toggleClass("hide");
            
            $('#registerModal').modal();
            $('select').formSelect();

            $(document).ready(() =>{
                $('#register-btn').click((event) => {
                event.preventDefault();
                registerSubmit();
            });
            });
            

            const registerSubmit = () => {
                let firstName = $('#firstName').val();
                let lastName = $('#lastName').val();
                let phone = $('#phone').val();
                let email = $('#email-register').val();
                let password = $('#password-register').val();
                let password2 = $('#password2').val();

                let userData = {};
                userData.firstName = firstName;
                userData.lastName = lastName;
                userData.phone = phone;
                userData.email = email;
                userData.password = password;
                userData.password2 = password2;

                let modalInstance = M.Modal.getInstance($("#registerModal"));
                // modalInstance.close();
                
                $.ajax({
                url: "/users/register",
                data: userData,
                type: "POST",
                success: (result) => {
                    console.log(result.success);
                    // To check if the server response contains error messages
                    if (typeof result.errors != 'undefined') {
                        console.log((result.errors[0].msg));
                        (result.errors).forEach(element => {
                            $('#alert_placeholder_register').append('<div class="alert alert-warning alert-dismissible fade show" role="alert">' + element.msg +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>')
                        });

                    }
                    // To check if the server response contains any success messages 
                    else if (typeof result.success != 'undefined') {
                        console.log((result.success[0].msg));
                        modalInstance.close();
                        location.reload()
                    }
                }
            });
                
            }
        </script>
    </body>
    
</html>


