<div class="container ">
  <div class="row">
    <div class="card card-body" style="border-radius: 20px;">
      <div id="alert_placeholder"></div>
      <%- include('./partials/messages') %>
      <form class="form-group" id="pswResetform">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" id="password2" name="password2" class="form-control" />
        </div>
        <div class="row">
          <div class="input-field col s6 center-align">
            <a class="waves-effect waves-light btn" id="pswResetButton">Reset Password</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>

  let linkData = '<%- JSON.stringify(resetLink) %>';
  let resetLink = JSON.parse(linkData)


  console.log(typeof resetLink)
  $('#pswResetButton').click(() => {
    resetPassword();
  })


  const resetPassword = () => {

    // Onclick pswResetButton dield data is collected
    let password = $('#password').val();
    let password2 = $('#password2').val();

    // Validate the fields
    let errors = [];

    if (password !== password2) {
      errors.push({ msg: "Passwords do not match" })
    }
    if (password.length < 6) {
      errors.push({ msg: "Password should be at least six characters" })
    }
    if (errors.length > 0) {
      console.log(errors)
      errors.forEach(element => {
        $('#alert_placeholder').append().html('<div class="alert alert-warning alert-dismissible fade show" role="alert">' + element.msg +
          '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>')
      })
    } else {
      let Data = {}
      Data.newPassword = password;
      Data.resetLink = resetLink;

      // Send new password 
      $.ajax({
        url: '/users/passwordReset',
        data: Data,
        type: "PUT",
        success: (result) => {
          console.log(result)
          console.log( result.msg)
          if ( result.error) {
            
              $('#alert_placeholder').html('<div class="alert alert-warning alert-dismissible fade show" role="alert">' + result.error +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>')
           

          } else if ( result.msg) {
            
              $('#alert_placeholder').html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + result.msg +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>')
            
                location.href = "http://localhost:5000/users/login"
          }
        }
      })
    }

    // Field data is placed in an object

  }


  $(document).ready(function () {

  })

  $("nav").toggleClass("hide");
</script>