<div class="container ">
  <div class="row">
    <div class="card card-body" style="border-radius: 20px;">
      <div id="alert_placeholder"></div>
      <form class="form-group" id="pswResetform">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" id="password2" name="password2" class="form-control" />
        </div>
        <div class="row">
          <div class="input-field col s6 center-align">
            <a class="waves-effect waves-light btn" id="pswResetButton">Reset Password</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $('#pswResetButton').click(() => {
    resetPassword();
  })

  const resetPassword = () => {

    // Onclick pswResetButton dield data is collected
    let password = $('#password').val();
    let password2 = $('#password2').val();

    // Validate the fields
    let errors = [];

    if (!password || !password2) {
      errors.push({ msg: "Please fill in all the fields" })
    }
    if (password !== password2) {
      errors.push({ msg: "Passwords do not match" })
    }
    if (password.length < 6) {
      errors.push({ msg: "Password should be at least six characters" })
    }
    if (errors.length > 0) {
      console.log(errors)
      errors.forEach(element => {
        $('#alert_placeholder').append().html('<div class="alert alert-warning alert-dismissible fade show" role="alert">' + element.msg +
          '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>')
      })
    } else {
      $('#alert_placeholder').append().html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + 'Password reset successful' +
        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>')
    }

    // Field data is placed in an object
    let pswData = {}
    pswData.password = password;
    // Send new password 
    $.ajax({
        url:'/users/passwordReset',
        data:pswData,
        type:"PUT",
        success:(result)=>{
          //console.log(result)
        }
    })
  }

  const getProjects = () => {
  $.get('/users/passwordReset',(response) => {
      if(response.statusCode==200){
          console.log(response)
          addcard(response.data);
      }
      else {
          console.log(response)
      }
  })
}

  $(document).ready(function(){
     getProjects()
  })

  $("nav").toggleClass("hide");
</script>