<html lang='en'>
   <head>
      <meta charset='utf-8' />
      <link href='/media-player.css' rel='stylesheet' />
      
   </head>
    <body class="body-bg">
        <div class="container-video">
            <div class="c-video">
                <!-- <video class="video" src='https://drive.google.com/uc?id=1NaoZ1422z-2L7I_T4KzOxiKfOYvQyz6X'>
                </video> -->
                <video class="video">
                    <source src="https://drive.google.com/uc?id=0ByuvNaTkATl-RzlzNXVTMVd5V00" type="video/mp4">
                    </source>
                </video>

                <div class="controls">
                    <div class="orange-bar">
                        <div class="orange-juice">

                        </div>
                    </div>
                    <div class="buttons">
                        <button id="play-pause">

                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script src='/media-player.js'></script>
   </body>
</html>