<div id="videoCapture" class="modal form-round">
    <div class="modal-content border-0 shadow-lg p-2">
        <div>
            <div class="row">
                <div class="col">
                    <div id="c-video" class="c-video shadow-lg border">
                        <div class="share" style="text-align: center;">
                            <div class="buttons">
                                <% if(typeof isExpert=='undefined' || !isExpert) { %>
                                    <button class="buttons fas fa-share-square modal-trigger" id="forward"
                                        href="#forwardVideoModal"></button>
                                    <% } %>
                            </div>
                        </div>
                        <video id='video' class="video" muted="muted" autoplay="true" poster="data:image/gif,AAAA">
                            <source id="viewMemberVideoSource" src="" type="video/mp4">
                            </source>
                        </video>
                        <div class="controls">
                            <div class="orange-bar">
                                <div class="orange-juice">
                                </div>
                            </div>
                            <div class="buttons d-flex justify-content-between w-100">
                                <div>
                                    <button class="fa fa-pause-circle" id="play-pause"></button>
                                    <button class='fa fa-redo' id='replay'></button>
                                    <% if(typeof isExpert=='undefined' || !isExpert) { %>
                                        <button class='fa fa-check-circle' id='resetStatus'></button>
                                        <% } %>
                                </div>
                                <div>
                                    <button class='fas fa-expand' id='fullscreen'></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#resetStatus').click((event) => {
        let memberList = JSON.parse(members);
        let memberId = { memberId: memberList[currentSelectedrowID]._id };

        //Ajax call to reset Member Fall Status
        $.ajax({
            url: "/users/resetStatus",
            data: memberId,
            type: "PUT",
            success: (result) => {
                swal("Member Fall Status is successfully reset!", {
                    icon: "success",
                    buttons: false
                });
                setTimeout(() => location.reload(), 500);
            }
        });
    });
</script>